{"openapi":"3.1.0","info":{"title":"YouGen Public API","version":"1.0.0","description":"Async image/video generation API for YouGen (yougen.io).\n\nAuth: header `X-API-Key: sf_...` (create keys at /account). Never pass api_key in query string.\nBilling: daily plan quotas (image/video), same as Studio.\nFlow: POST /generations → poll GET /generations/{id} → GET /content with the same API key.\nOut of scope: projects/scenes LLM split, Niche Radar — use Studio UI / JWT routes.\nwebhook_url must be public https (SSRF-protected). Signed with X-YouGen-Signature.\n\nLLM plain-text guide: https://yougen.io/api/v1/llms.txt\nHuman docs: https://yougen.io/api-docs"},"servers":[{"url":"https://yougen.io","description":"Production"}],"security":[{"ApiKeyHeader":[]}],"tags":[{"name":"meta"},{"name":"generations"},{"name":"models"},{"name":"files"},{"name":"account"},{"name":"operations"},{"name":"prompts"}],"paths":{"/api/v1/health":{"get":{"tags":["meta"],"summary":"Health check","security":[],"responses":{"200":{"description":"{ ok, service, version }"}}}},"/api/v1/openapi.json":{"get":{"tags":["meta"],"summary":"This OpenAPI document","security":[],"responses":{"200":{"description":"OpenAPI 3.1 JSON"}}}},"/api/v1/llms.txt":{"get":{"tags":["meta"],"summary":"Plain-text API guide for LLMs","security":[],"responses":{"200":{"description":"text/plain instructions"}}}},"/api/v1/models":{"get":{"tags":["models"],"summary":"List enabled models","responses":{"200":{"description":"{ object, data: Model[] }"}}}},"/api/v1/models/{model_id}":{"get":{"tags":["models"],"summary":"Get one model","parameters":[{"name":"model_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Model"},"404":{"description":"Not found"}}}},"/api/v1/providers":{"get":{"tags":["models"],"summary":"List providers","responses":{"200":{"description":"Provider[]"}}}},"/api/v1/capabilities":{"get":{"tags":["models"],"summary":"List billable operations","parameters":[{"name":"provider","in":"query","schema":{"type":"string"}},{"name":"media_type","in":"query","schema":{"type":"string","enum":["image","video"]}},{"name":"model","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OperationInfo[]"}}}},"/api/v1/capabilities/{operation_id}":{"get":{"tags":["models"],"summary":"Get one operation","parameters":[{"name":"operation_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OperationInfo"},"404":{"description":"Not found"}}}},"/api/v1/usage":{"get":{"tags":["account"],"summary":"Daily plan usage and concurrency","responses":{"200":{"description":"UsageResponse"}}}},"/api/v1/files":{"post":{"tags":["files"],"summary":"Upload reference image","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"string","description":"data:image/png;base64,..."},"filename":{"type":"string"},"base64":{"type":"string"},"mime":{"type":"string","example":"image/png"}}}}}},"responses":{"200":{"description":"{ id, object: file }"}}}},"/api/v1/generations":{"post":{"tags":["generations"],"summary":"Create generation(s)","description":"Pass model OR operation. Optional inputs (data URI or file id). Optional prompts[] for multi-create.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationCreateRequest"},"examples":{"image":{"value":{"model":"nano-banana-2","prompt":"cinematic portrait, soft light","aspect_ratio":"16:9"}},"video":{"value":{"model":"veo-3.1-fast","prompt":"camera slowly pushes in on a rainy street at night","aspect_ratio":"16:9"}},"i2v":{"value":{"model":"veo-3.1-fast","prompt":"the character turns and smiles","inputs":["FILE_ID_OR_DATA_URI"],"aspect_ratio":"16:9"}}}}}},"responses":{"200":{"description":"GenerationAccepted or { object:list, data:[] }"},"400":{"description":"Validation"},"401":{"description":"Bad API key"},"403":{"description":"License inactive"},"429":{"description":"Daily quota exceeded"}}}},"/api/v1/generations/batch":{"post":{"tags":["generations"],"summary":"Batch create from items[]","responses":{"200":{"description":"{ ids, data, queued }"}}}},"/api/v1/generations/{id}":{"get":{"tags":["generations"],"summary":"Get status / result","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"GenerationStatus"}}},"delete":{"tags":["generations"],"summary":"Cancel queued/running job","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ cancelled, refunded }"}}}},"/api/v1/generations/{id}/content":{"get":{"tags":["generations"],"summary":"Download binary result (API-key auth, no URL expiry)","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"image/* or video/*"},"409":{"description":"Not ready"}}}},"/api/v1/operations/cancel":{"post":{"tags":["operations"],"summary":"Bulk cancel","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["operation_ids"],"properties":{"operation_ids":{"type":"array","items":{"type":"string"},"maxItems":100}}}}}},"responses":{"200":{"description":"BulkCancelResponse"}}}},"/api/v1/operations/cancel-all":{"post":{"tags":["operations"],"summary":"Cancel all active for this key","responses":{"200":{"description":"CancelAllResponse"}}}},"/api/v1/operations/{operation_id}":{"get":{"tags":["operations"],"summary":"Alias of GET /generations/{id}","parameters":[{"name":"operation_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"GenerationStatus"}}}},"/api/v1/prompts/generate":{"post":{"tags":["prompts"],"summary":"LLM helper to expand a prompt","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["user_prompt"],"properties":{"user_prompt":{"type":"string","maxLength":10000}}}}}},"responses":{"200":{"description":"{ generated_text, usage }"}}}}},"components":{"securitySchemes":{"ApiKeyHeader":{"type":"apiKey","in":"header","name":"X-API-Key","description":"API key sf_… from /account"}},"schemas":{"GenerationCreateRequest":{"type":"object","required":["prompt"],"properties":{"operation":{"type":"string","description":"Canonical op id from /capabilities"},"model":{"type":"string","example":"nano-banana-2"},"prompt":{"type":"string"},"prompts":{"type":"array","items":{"type":"string"},"description":"Multi-create shorthand"},"inputs":{"type":"array","items":{"type":"string"},"description":"data URI or file id from POST /files"},"aspect_ratio":{"type":"string","example":"16:9"},"seed":{"type":"integer"},"keyframes":{"type":"boolean","description":"Video: inputs[0]=start, inputs[1]=end"},"count":{"type":"integer","minimum":1,"maximum":6},"duration_seconds":{"type":"integer"},"resolution":{"type":"string"},"quality":{"type":"boolean"},"webhook_url":{"type":"string","format":"uri"}}}}}}